/*	
	This file defines the default set of CSS styles available in the Rich editor
*/


p.caption {
	font-style: italic;
	color: grey;
}

span.highlight {
	background: yellow;
}

img.left {
	float: left;
}

img.right {
	float: right;
}

html, body {
  height: 100%;
}

.mention-user-item {
	display: flex;
	align-items: center;
}

.mention-user-item .gravatar {
	margin-right: 0.25rem;
}

li.mention-issue-item  {
	display: flex;
}
  
.mention-issue-item div:first-child {
	margin-right: 0.25rem;
}