div.selector-container select {
  float: left;
  padding: 3px;
  width: 250px;
}

div.selector-container div.container {
  float: left;
  padding: 3px;
}

div.selector-container div.clear {
  clear: left;
  height: 1em;
}

div.selector-container input.button {
  width: 8em;
}

/* RedmineX Theme
// Copyright 2024 RedmineX
// For license, see https://www.redmine-x.com
// Created by Michael Staněk
*/

.ck_mentions_settings:not(.ck_mentions_settings .ck_mentions_settings) {
  border-top: 1px solid #e4e4e4;
  padding: 1rem;
  margin: 0 -6px 1rem -6px;
}

.ck_mentions_settings .ck_mentions_settings {
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  margin: 1rem -1rem 0 -1rem;
  padding: 1rem;
  background: #fafafa;
  clear: both;
}

.mention-user-item {
  display: flex;
  align-items: center;
}
.mention-user-item .gravatar {
  margin-right: 0.25rem;
}

li.mention-issue-item  {
  display: flex;
}

.mention-issue-item div:first-child {
  margin-right: 0.25rem;
}